#section.all_repos
  %table.table.table-striped
    %tr
      %th= link_to "Name", :sort => "name"
      %th= link_to "Owner", :sort => "owner"
      %th= link_to "Num. of Todos", :sort => "todos_count"
    = render @repos

  = render 'new'
