<div class ='title'>
  <%= "#{@repo.owner}/#{@repo.name}" %>
</div>

<!-- <div class='infobox'>
  <div class ='header'>
    Clone:  <span><%= @repo.git_url %></span>
  </div>
</div> -->

<div class="info">
  <%if @repo.homepage %>
    <div class='infobox'>
      <div class ='header'>
        Homepage
      </div>
      <%= @repo.homepage %>
    </div>
  <% end %>

  <div class ='infobox'>
    <div class ='header'>
      Info
    </div>

    <table>
      <tr>
        <td><div class ='tablefield'>Language:</td>
        <td><div class ='highlight'><%= "#{@repo.language}" %></div></td>
      </tr>

      <tr>
        <td><div class ='tablefield'>Description:</td>
        <td><div class ='highlight'><%= @repo.description %></div></td>
      </tr>

      <tr>
        <td><div class ='tablefield'>Forks:</td>
        <td><%= "#{@repo.forks}" %></td>
      </tr>

      <tr>
        <td><div class ='tablefield'>★:</td>
        <td><%= "#{@repo.stars}" %></td>
      </tr>

      <tr>
        <td><div class ='tablefield'>Issues:</td>
        <td><%= "#{@repo.issues}" %></td>
      </tr>

      <tr>
        <td><div class ='tablefield'>Created at:</td>
        <td><%= "#{@repo.github_created_at}" %></td>
      </tr>

      <tr>
        <td><div class ='tablefield'>Updated at:</td>
        <td><%= "#{@repo.github_updated_at}" %></td>
      </tr>
    </table>
  </div>
</div>

<div class ='todos'>
  <div class ='header'>Todos</div>
  <% @todos = @repo.todo_files.each do |todo| %>
    <div class="single-todo">
      <p><%= todo.path %></p>
      <div class='box'><%= todo.content %></div>
    </div>
  <% end %>
</div>